body {
	background-color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    max-width: 50%;
}

.feedback-list {
    flex: 0 0 30%; /* Add a fixed width (e.g., 35% of the container width) */
    padding: 20px;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.3);
    background-color: white;
    overflow-y: auto;
    max-height: 500px;
    margin-top: 65px;
    margin-bottom: 65px;
    margin-right:  150px;;
}

.feedback-form h1 {
    width: 100%;
    margin-top: 70px;
    text-align: center;
    font-size: 48px;
}

.feedback-form h4 {
    width: 100%;
    font-size: 20px;
}

.feedback-form-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star-section {
    margin: 0 60px;
}

.feedback-form-bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    font-size: 18px;
}

.fbText {
    width: 100%;
    margin-top: 20px;
}

.card {
    background-color: white;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    padding: 10px 15px;
    margin: 15px 0;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.2);
}

.card h3 {
    margin: 0;
}

.stars-container {
    margin: 0;
}

.card p:first-of-type {
    margin-top: 0;
    margin-bottom: 1px;
}

.card p:last-of-type {
    margin-top: 10px; /* Increase the space before the feedback message */
    margin-bottom: 0;
}

.stars {
    display: inline-block;
    font-size: 80px;
    cursor: pointer;
    width: 75px;
}

.stars::before {
    content: '\2605';
    color: transparent;
    -webkit-text-stroke: 1px white;
    color: #ccc;
}

.stars:hover:before {
    color:blue;
}

.selected::before {
    color: gold;
}

input[type="radio"] {
    display: none;
}

button {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    width: 40%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: blue;
    color: white;
}

.gold-star {
    color: gold;
    font-size: 20px;
    margin-right: 2px;
}